go 1.25.0

use (
	./
	./pkg/testkit/contract
	./providers/alibaba
	./providers/aws
	./providers/azure
	./providers/gcs
	./providers/huawei
	./providers/minio
	./providers/tencent
	./providers/volcengine
)
